<html>
	<head>
		<title>Hello</title>
	</head>
	<body>
		<ul>
			{% for item, quantity in items.items() %}
			<li>{{ item }}: {{ quantity }}</li>
			{% endfor %}
		</ul>
		<form method="POST">
			<p><label>1. Item</label><input type="text" name="item" value="smartphone"/>
			<label>Quantity</label><input type="text" name="quantity" value="100"/>
			<input type="checkbox" name="update">Update
			<input type="checkbox" name="delete">Delete<br></p>
			<p><label>2. Item</label><input type="text" name="item" value="TV"/>
			<label>Quantity</label><input type="text" name="quantity" value="200"/>
			<input type="checkbox" name="update">Update
			<input type="checkbox" name="delete">Delete<br></p>


			<input type="submit"/>
			
		</form>
	</body>
</html>