{% extends "layout.html" %}
{% block body %}
  <form method="POST">
    <div class="row">
    {% for item, quantity in items.items() %}
      <div class="input-group">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input type="checkbox" aria-label="Checkbox for following text input" name="{{ item }}_delete">
          </div>
        </div>
            <input class="col-3 rounded" type="text" aria-label="Text input with checkbox" value="{{ item }}" name="{{ item }}_name">
            <input class="col-1 rounded" type="text" aria-label="Text input with checkbox" value="{{ quantity }}" name="{{ item }}_quantity">
        
      </div>
    {% endfor %}
    </div>
  </form>
    <div class="row">
      <form method="POST">
        <input class="btn btn-secondary" type="submit" value="Update">
      </form>
    </div>
  </form>
  <div class="row">
    <form method="POST">
      <input type="hidden" name="add">
      <input class="btn btn-secondary" type="submit" value="Add">
    </form>
  </div>
{% endblock %}